
*{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}
li{
	list-style: none;
}
table,tr,td{
	border:none;
}
a {
	color:black;
	text-decoration: none;
}
/* 主页面 */
.container{
	width:100%;
	height:auto;
}
/* 头部 */
.header {
  width: 100%;
  height: 117px;
  margin: 0 auto;
}
.header .logo img {
  float: left;
  margin-left: 25px;
  margin-top: -5px;
}
.header p {
  font-size: 28px;
  line-height: 117px;
  float: left;
  color: #656565;
  margin-right: 132px;
}
.header ul li {
  float: left;
  width: 120px;
  height: 74px;
  margin-top:40px;
  font-size: 23px;
  margin-right: 60px;
  text-align: center;
  cursor:pointer;
}

.header ul li:first-child{
	background: url(../img/规范_03.gif) no-repeat 10px 5px;
}
.header ul li:first-child:hover{
	background: url(../img/loger-1_06.jpg) no-repeat 10px 5px;
	color:#779800;
	border-bottom: 2px solid #779800;
}

.header ul li:nth-of-type(2){
	background: url(../img/规范_05.gif) no-repeat 10px 5px;
}
.header ul li:nth-of-type(2):hover{
	background: url(../img/loger-2_06.jpg) no-repeat 10px 5px;
	color:#779800;
	border-bottom: 2px solid #779800;
}
.header ul li:last-child{
	background: url(../img/规范_07.gif) no-repeat 10px 5px;
}
.header ul li:last-child:hover{
	background: url(../img/loger-3_06.jpg) no-repeat 10px 7px;
	color:#779800;
	border-bottom: 2px solid #779800;
}
/*订单 主体*/
 .dingdan .content{
	background:#efefef;
	height:auto;

}

.dingdan .content .s-top {
  width: 95%;
  line-height: 83px;
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin:25px auto;
  margin-left: 2%;
}
.dingdan .content .s-top li {
  font-size: 20px;
  color: #5e5e5e;
  margin-right: 40px;
  margin-left: 30px;
  text-decoration: none;
  float:left;
}
.dingdan .content .s-top li span {
  font-size: 24px;
  color: #587100;
  padding: 8px;
}

.dingdan .content .search {
	width:95%;
	height:45px;
  margin-top: 20px;
  margin:0 auto;
  position: relative;
}
.dingdan .content .search b{
	position: absolute;
	left:10px;
	top:10px;
}
.dingdan .content .search #text {
  width:85%;
  height: 45px;
  color: #9e9e9e;
  line-height: 45px;
  font-size: 17px;
  border-radius: 3px;
  border: none;
  padding-left:35px;
  float: left;
    display: inline-block;
  
}
.dingdan .content .search #search {
  width: 120px;
  height: 45px;
  background: #f0962b;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  float: right;
  cursor:pointer;
}

.dingdan .content .footer .f-top {
  width: 95%;
  height: 70px;
  background: #e6e6e6;
  margin-top:22px;
  margin-left: 2%;
}
.dingdan .content .footer .f-top a {
  margin-left: 90px;
  color: #a8ab9f;
  font-size: 18px;
  line-height: 70px;
  float: left;
  display: block;
  text-decoration: none;
}
.dingdan .content .footer .f-top .all {
  display: inline-block;
  background: #779800;
  line-height: 37px;
  text-align: center;
  color: #fff;
  width: 74px;
  height: 36px;
  border-radius: 4px;
  margin-top: 17px;
  margin-left: 40px;
}
.dingdan .content .footer .f-top span {
  font-size: 16px;
  color: #767c62;
  float: right;
  margin-right: 257px;
  margin-top: 19px;
}
.dingdan .content .footer .f-top .f-top-y {
  margin-left:540px;
  font-size: 17px;
  font-weight:normal;
  line-height: 70px;
}
.dingdan .content .footer .f-top #yg {
  width: 185px;
  height: 35px;
  line-height: 70px;
  margin-top: 17px;
  float: right;

  border-radius: 4px;
  border:none;
}
.dingdan .content .footer .f-bottom {
  width: 95%;
  height:auto;
  margin-left:2%;
  background: white;
 font-size: 10px;
 overflow: hidden;
}
.dingdan .content .footer .f-bottom .f-left {
	width:160px;
	height:600px;
	border:1px solid #ccc;
	float:left;
	color:#ccc;
}
.dingdan .content .footer .f-bottom .f-left h3{
	height:62px;
	line-height: 62px;
	margin:0 auto;
	font-weight: normal;
	font-size:18px;
	cursor:pointer;
	text-align: center;
}

.dingdan .content .footer .f-bottom .f-left h3 span{
	display: inline-block;
	width:auto;
	height:20px;
	background: #e3e4e4;
	border-radius: 30px;
	text-align: center;
	line-height: 20px;
	margin-left:30px;
	color:white;
	padding-left:7px;
	padding-right:7px;
}
.dingdan .content .footer .f-bottom .f-right{
	width:86%;
	height:auto;
	float:right;
	border:1px solid #ccc;
}
.dingdan .content .footer .f-bottom .f-right table{
	width:100%;
	height:auto;
	font-size: 16px;
	color:#666666;
}
.dingdan .content .footer .f-bottom .f-right table th{
	width:10%;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: normal;
}
.dingdan .content .footer .f-bottom .f-right table td{
	width:auto;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #ccc;
  text-align: center;
}

.dingdan .content .footer .f-bottom .f-right table td  a {
	color:#666666;
}
.dingdan .content .footer .f-bottom .f-right table td:nth-child(6){
  
  width:262px;
}
.dingdan .content .footer .f-bottom .f-right table td span{
  width:64px;
  height:41px;
  display:block;
  border-radius: 3px;
  background-color:#f4ad59;
  line-height: 41px;
  color:white;
  text-align: center;
  cursor:pointer;
}
.dingdan .content .footer .f-bottom .f-right table td span:hover{
	background: #f0962b;
}
.dingdan .content .footer .f-bottom .f-right h1{
	text-align: center;
   font-size:14px;
   color:#747474;
   line-height: 86px;
   display:block;
}
.dingdan .content .footer .f-bottom .f-right h1 a {
	text-decoration: none;
}
.dingdan .content .footer .f-bottom .f-right h1 b{
	margin-left: 10px;
	margin-right:10px;
  font-weight: normal;
  color:#747474;
  font-size:14px;
}
.dingdan .content .footer .f-bottom .f-right h1 b:hover{
	color:red;
	cursor: pointer;
}
.dingdan .content .footer h2{
	 width:95%;
	 margin-left: 2%;
	text-align: center;
	color:#ccc;
	 font-size: 24px;
	 font-weight: normal;
	 height:120px;
	 background: white;
	 line-height: 120px;


}
.dingdan .content .footer h2 i{
	font-style:normal;
	color: #779800;
	margin-left:38px;
}
/* 订单详情 */
.ddxx{
	width:1206px;
	height:auto;
	
}
.ddxx .header{
	width:1206px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight:normal;
	border-bottom: 1px solid #e3e4e4;
}
.ddxx .header img{	float: right;
}
.ddxx .table{
	width:1146px;
	height:62px;
	margin:0 auto;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
}
.ddxx .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.ddxx .table p span{
	margin-left: 17px;
	margin-right: 45px;
	color:#7b7b7b;
}
.ddxx .foot{
	width:1140px;
	height:778px;
	margin:0 auto;
} 
.ddxx .foot .foot-l{
	width:880px;
	height:672px;
	border:1px solid #e3e4e4;
	border-radius: 5px;
	margin-top: 24px;
	float:left;
	}
.ddxx .foot .foot-l ul li{
	float: left;
	margin-left: 20px;
	margin-top:22px;
	position:relative;
	width:125px;
	height:140px;
}
.ddxx .foot .foot-l ul li img {
	width:100%;
	height:100%;
}
.ddxx .foot .foot-l li #zhongl{
	position:absolute;
	right:5px;
	top:10px;
	width:auto;
	height:23px;
	line-height: 23px;
	border-radius: 11px;
	color:white;
	background: rgba(0,0,0,0.5);
	text-align:center;
	padding-left: 4px;
	padding-right: 4px;
}
.ddxx .foot .foot-l li #yaoming{
	position:absolute;
	right:0px;
	bottom:0px;
	width:100%;
	height:30px;
	line-height: 25px;
	color:white;
	background: rgba(0,0,0,0.5);
	text-align:center;
}

.ddxx .foot .foot-r{
	width: 220px;
	height:702px;
	float:right;
	margin-top:25px;
	
}
.ddxx .foot .foot-r .foot-r-t{
	width: 238px;
	height:188px;
	background-color: #65d4f8;
	border-radius: 5px;
	
}
.ddxx .foot .foot-r .foot-r-t h1{
	font-weight:normal;
	color: white;
	font-size:18px;
	text-align: center;
	line-height:74px;
}
.ddxx .foot .foot-r .foot-r-t p{
	width:178px;
	line-height:23px;
	margin-left:29px;
	color: white;
}
.ddxx .foot .foot-r .foot-r-z{
	width: 238px;
	height:232px;
	border-radius: 4px;
	border:1px solid #666666;
	margin-top: 22px;
}
.ddxx .foot .foot-r .foot-r-z h2{
	font-weight:normal;
	font-size: 18px;
	color:black;
	text-align: center;
	line-height:74px;
}
.ddxx .foot .foot-r .foot-r-z ul li{
	float: left;
	width:88px;
	height:55px;
	background-color: #d3d3d3;
	border:2px solid #909090;
	margin-top: 14px;
	margin-left:16px;
}
.ddxx .foot .foot-r .foot-r-f{
	width: 238px;
	height:240px;
	border-radius: 5px;
	background-color: #ce7bdd;
	color:white;
	margin-top: 22px;
}
.ddxx .foot .foot-r .foot-r-f h1{
	font-weight:normal;
	color: white;
	font-size:18px;
	text-align: center;
	line-height:78px;
}
.ddxx .foot .foot-r .foot-r-f p{
	margin-left: 21px;
	line-height: 33px;
}
.ddxx .foot .foot-r .foot-r-f img{
	margin-right:15px;
}
/* 药房进度 */
.yfjd{
	width:1206px;
	height:772px;
    position: relative;
}
.yfjd .header{
	width:1206px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight:weight;
	border-bottom: 1px solid #e3e4e4;

}
.yfjd .header img{
	float: right;
}
.yfjd .table{
	width:1146px;
	height:62px;
	margin:0 auto;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
}
.yfjd .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.yfjd .table p span{
	margin-left: 17px;
	margin-right: 35px;
	color:#7b7b7b;
}
.yfjd .table p b{
	display: inline-block;
	width:114px;
	height:36px;
	background:#e56767;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	line-height: 36px;
	font-size: 14px;
	float:right;
	margin-top:12px;
	color:white;
}
.yfjd .table p b img{
	float:left;
	margin-top:10px;
	margin-left:16px;
	margin-right: 10px;
}
.liucheng{
	margin:0 auto;
	margin-left:3%;
	
}
.liucheng div{
	width:126px;
	height:546px;
	border:1px solid #e3e4e4;
	margin-right:17px;
	float:left;
	margin-top:38px;
    position:relative;

}
.liucheng h3{
	width:250px;
	margin-left: 40px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.liucheng h3 b{
	display:inline-block;
  	width:50px;
  	height:50px;
  	border-radius: 50px;
  	background-color:#9c9c9c;
  	text-align: center;
  	line-height: 50px;
  	color:white;
  	
  	
}   
.liucheng p{
	width:126px;
	margin-top: 10px;
	margin-left: 6px;
    font-size:12px;
}
.liucheng p span{
	display: inline-block;
	width:30px;
	height:17px;
	line-height:17px;
	text-align:center;
	background-color: #e3e4e4;
	margin-right: 6px;
	color:#8d8d8d;
}
.liucheng h1{
	margin-top: 30px;
	width:126px;
	text-align: center;
	color:#779800;
    font-size:24px;
    font-weight:bold;
}
.liucheng h4{
	margin-top: 30px;
	width:126px;
	text-align: center;
	color:#8d8d8d;
}
.liucheng a{
    display: none;
    width:35px;
	height:40px;
	line-height: 40px;
	text-align:center;
	font-size: 14px;
	outline: none;
	margin-left:52px;
	margin-bottom:20px;
	text-decoration: underline;
   margin-top:177px;
    bottom:0px;
    display:inline-block;
}
.liucheng h3 span{
	display: inline-block;
	width:115px;
	height:10px;
	background-color:#edf1f2;
}
.liucheng h2{
	width:126px;
	text-align: center;
	color:#8d8d8d;
}
.liucheng button{

	width:100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background-color: #f4ad59;
	color:white;
	font-size: 14px;
	outline: none;
	margin-left:13px;
	position: absolute;
	top:480px;
	border:none;
	border-radius: 4px;
    display: none;
}
#btnshow2{
    z-index:999;
}
#psdover-fc {
    width:100px;
    height:40px;
    line-height: 40px;
    text-align:center;
    background-color: #f4ad59;
    color:white;
    font-size: 14px;
    outline: none;
    border:none;
    margin-left:150px;
    border-radius: 5px;
}
#psdover-fc-erro {
    width:100px;
    height:40px;
    line-height: 40px;
    text-align:center;
    background-color: #f4ad59;
    color:white;
    font-size: 14px;
    outline: none;
    border:none;
    margin-left:150px;
    border-radius: 5px;
}
#psdover-jz{
    width:100px;
    height:40px;
    line-height: 40px;
    text-align:center;
    background-color: #f4ad59;
    color:white;
    font-size: 14px;
    outline: none;
    border:none;
    margin-left:150px;
    border-radius: 5px;
}

/*.jdbg{
    position:absolute;
    left:0;
    top:-220px;
    width: 146px;
    height: 546px;
    z-index: 333;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    border:none;
}*/
#lc_cs1{

    top:-220px;
    left:0;
    width: 126px;
    height: 546px;
    background-color:#e4eaeb;
    z-index: 333;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    border:none;

}
#lc_cs2{

    top:-220px;
    left:0;
    width: 126px;
    height: 546px;
    background-color:#e4eaeb;
    z-index: 333;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    border:none;

}
#lc_cs3{

    top:-220px;
    left:0;
    width: 126px;
    height: 546px;
    background-color:#e4eaeb;
    z-index: 333;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    border:none;

}
#lc_cs4{

    top:-220px;
    left:0;
    width: 126px;
    height: 546px;
    background-color:#e4eaeb;
    z-index: 333;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    border:none;

}
#lc_cs5{

    top:-220px;
    left:0;
    width: 126px;
    height: 546px;
    background-color:#e4eaeb;
    z-index: 333;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    border:none;

}
#lc_cs6{

    top:-220px;
    left:0px;
    width:126px;
    height: 546px;
    background-color:#e4eaeb;
    z-index: 333;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    border:none;

}
#lc_cs7{

    top:-220px;
    left:0;
    width:126px;
    height: 546px;
    background-color:#e4eaeb;
    z-index: 333;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    border:none;

}
#lc_cs8{

    top:-220px;
    left:0;
    width:126px;
    height: 546px;
    background-color:#e4eaeb;
    z-index: 333;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
    border:none;

}
.kf{
	width:1206px;
	height:772px;
	
}

.kf .header{
	width:1206px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight:weight;
	border-bottom: 1px solid #e3e4e4;
}
.kf .header img{
	float: right;
}
.kf .table{
	width:1146px;
	height:62px;
	margin:0 auto;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
}
.kf .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.kf .table p span{
	margin-left: 17px;
	margin-right: 35px;
	color:#7b7b7b;
}
.kf .table p b{
	display: inline-block;
	width:114px;
	height:36px;
	background:#e56767;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	line-height: 36px;
	font-size: 14px;
	float:right;
	margin-top:12px;
	color:white;
}
.kf .table p b img{
	float:left;
	margin-top:10px;
	margin-left:16px;
	margin-right: 10px;
}
.kf .kfblock{
	width:147px;
	height:100px;
	margin-top: 60px;
}
.kf .kfblock i{
	display:inline-block;
	width:65px;
	height:45px;
	background-color: #ccc;
	margin-left: 5px;
	float:left;
	margin-top: 5px;
}
/* 审方 */
.shenfang{
	width:1206px;
	height: auto;
    background:red;



}
.shenfang .header{
	width:1206px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight: weight;
	border-bottom: 1px solid #e3e4e4;
}
.shenfang .header img{
	float: right;
}
.shenfang .table{
	width:1150px;
	height:62px;
	margin:0 auto;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
}
.shenfang .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.shenfang .table p span{
	margin-left: 17px;
	margin-right: 45px;
	color:#7b7b7b;
}   
.shenfang .sfcont{
	width:1150px;
	height:400px;
	margin:0 auto;
	margin-top: 20px;
}
.shenfang .sfcont .sfleft{
	width:705px;
	height:500px;
	float:left;
	border:1px solid #ccc;
}
.shenfang .sfcont .sfleft .sflefttop{
	width:650px;
	height: 360px;
	background-color: #9c9c9c;
	margin:10px auto;
}
.shenfang .sfcont .sfleft .sfleftbot{
	width:650px;
	height:112px;
	margin-top: 10px;
	margin-left:30px;
}
.shenfang .sfcont .sfleft .sfleftbot .sfleftbotleft{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
	margin-right: 10px;
}
.shenfang .sfcont .sfleft .sfleftbot .sfleftbotright{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
}
.shenfang .sfcont .sfright{
	width:425px;
	height:auto;
	border:1px solid #ccc;
	float:right;
}
.shenfang .sfcont .sfright table {
	width:420px;
}
.shenfang .sfcont .sfright input{
	width:100px; 
	height:40px;
	border-radius:5px; 
	border:1px solid #ccc;
	text-align:center;
}
.shenfang .sfcont .sfright select{
	width:100px;
	height:40px;
	border-radius: 5px;
	border:1px solid #ccc;
	text-align: center;
}
.shenfang .sffoot button{
	width:100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background-color: #f4ad59;
	color:white;
	font-size: 14px;
	outline: none;
	border:none;
	border-radius: 4px;
	left:50%;
	position:absolute;
	bottom:0px;


}
/* 煎制 */
.jz{
	width:1206px;
	height:772px;
	color:#666666;
}
.jz .header{
	width:1206px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight:normal;
	border-bottom: 1px solid #e3e4e4;
	margin-left:2%;
}
.jz .header img{
	float: right;
}
.jz .table{
	width:1150px;
	height:62px;
	margin:0 auto;
	margin-left: 5%;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
	text-align: center;
}
.jz input{
   text-align: center;
}
.jz h5 input {
	margin-left:124px;
}
.jz .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.jz  .jzcont h1{
	text-align: center;
}
.jz  .jzcont h2,h3,h4,h5,h6{
	font-weight:normal;
	font-size: 16px;

}
.jz .table p span{
	margin-left: 17px;
	margin-right: 35px;
	color:#7b7b7b;
}
.jz .jzcont{
	width:1150px;
	height:540px;
	margin-left:5%;
}
.jz .jzcont h2,h3,h4{
	height:30px;
	line-height: 30px;
	margin-left: 8px;
}
.jz .jzcont div{
	width:370px;
	height:482px;
	border:1px solid #ccc;
	margin-right: 10px;
	float:left;
	margin-top: 20px;
}
.jz .jzcont h1{
	width:370px;
	text-align: center;
	margin-top: 20px;
	margin-bottom:30px;
	font-weight:500;
	font-size: 24px;

}


.jz .jzcont .jznum1 h2 input{
	margin-top: 8px;
}
.jz .jzcont .jznum1 h2 span{
	margin-left: 20px;
}
.jz .jzcont .jznum1 h3{
	height:30px;
	line-height: 30px;
	margin-left:5px;
	margin-right:8px;
	margin-top:10px;
}
.jz .jzcont .jznum1 h3 input{
	width:100px;
	height:30px;
	
	margin-right: 10px;
}
.jz h2 input{
	padding-right:5px;
}
.jz .jzcont .jznum2 h2{
	height:30px;
	line-height: 30px;
}
.jz .jzcont .jznum2 h2 input{
	
	margin-top: 8px;
}
.jz .jzcont .jznum2 h2 span{
	margin-left: 20px;
}
.jz .jzcont .jznum2 h3 b{
	margin-left:53px;
}
.jz .jzcont .jznum2 h3 input{
	
	margin-top: 8px;
}

.jz .jzcont .jznum2 h4 input{

	margin-top: 8px;
}
.jz .jzcont .jznum2 h5{
	height:30px;
	line-height: 30px;
	margin-left:8px;
	margin-right: 5px;
	margin-top:10px;
}
.jz .jzcont .jznum2 h5 input{
	width:100px;
	height:30px;
	
	margin-right: 10px;
}
.jz .jzcont .jznum2 h6{
	height:30px;
	margin-top: 10px;
	margin-left:8px;
}
.jz .jzcont .jznum2 h6 i{
	margin-left: 155px;
}
.jz .jzcont .jznum2 h6 input{
	margin-left:8px;
	margin-top: 10px;
}

.jz .jzcont .jznum3 h2 input{

	margin-top: 8px;
}
.jz .jzcont .jznum3 h2 span{
	margin-left: 20px;
}

.jz .jzcont .jznum3 h3{
	height:30px;
	line-height: 30px;
	margin-left:8px;
	margin-right: 5px;
	margin-top:10px;
}
.jz .jzcont .jznum3 h3 input{
	width:100px;
	height:30px;
	margin-left: 100px;
	margin-right: 10px;
}
.jz .jzcont .jznum3 h5{
	height:30px;
	line-height: 30px;
	margin-left:8px;
	margin-right: 5px;
	margin-top:230px;
}
.jz .jzcont .jznum3 h5 input{
	width:100px;
	height:30px;

	margin-right: 10px;
}
.jz .jzcont .jznum3 .jzfoot{
	height:70px;
	line-height: 70px;
}
.jz .jzfoot button{
	width:100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background-color: #f4ad59;
	color:white;
	font-size: 14px;
	outline: none;
	border:none;
	border-radius: 4px;
	margin-left:50%;
}
/* 配送 */
.ps{
	width:1205px;
	height:772px;
}
.ps .header{
	width:1205px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight: weight;
	border-bottom: 1px solid #e3e4e4;
	margin-left:2.3%;
}
.ps .header img{
	float: right;
}
.ps .table{
	width:1106px;
	height:62px;
	margin:0 auto;
	margin-left: 5%;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
}
.ps .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.ps .table p span{
	margin-left: 17px;
	margin-right: 35px;
	color:#7b7b7b;
}
.ps .pscont{
	width:1106px;
	height:400px;
	margin-left:5%;
	margin-top: 20px;
}
.ps .pscont .psleft{
	width:675px;
	height:500px;
	float:left;
	border:1px solid #ccc;
}
.ps .pscont .psleft .pslefttop{
	width:650px;
	height: 360px;
	background-color: #9c9c9c;
	margin:10px auto;
}
.ps .pscont .psleft .psleftbot{
	width:650px;
	height:112px;
	margin-top: 10px;
	margin-left:10px;
}
.ps .pscont .psleft .psleftbot .psleftbotleft{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
	margin-right: 10px;
}
.ps .pscont .psleft .psleftbot .psleftbotright{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
}
.ps .pscont .psright{
	width:403px;
	height:300px;
	border:1px solid #ccc;
	float:right;
}
.ps .pscont .psright h3{
	margin-left:5px;
	height:40px;
	line-height: 40px;
	margin-top: 20px;
}
.ps .pscont .psright h3 input{
	width:130px;
	height:30px;
	margin-left:20px;
}
.ps button{
	width:100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background-color: #f4ad59;
	color:white;
	font-size: 14px;
	outline: none;
	border:none;
	border-radius: 4px;
	margin-left:50%;
	margin-top: 40px;
}
/*第七步  配送*/
#ps2{
    width:1205px;
    height:772px;
}
#ps2 .header{
    width:1205px;
    height:78px;
    text-align: center;
    line-height: 78px;
    font-size: 24px;
    font-weight: weight;
    border-bottom: 1px solid #e3e4e4;
    margin-left:2.3%;
}
#ps2 .header img{
    float: right;
}
#ps2 .table{
    width:1106px;
    height:62px;
    margin:0 auto;
    margin-left: 5%;
    background-color: #e3e4e4;
    border-radius: 5px;
    margin-top: 21px;
}
#ps2 .table p{
    font-size: 18px;
    color:#bcbcbc;
    line-height: 62px;
    margin-left: 35px;

}
#ps2 .table2 p span{
    margin-left: 17px;
    margin-right: 35px;
    color:#7b7b7b;
}
#ps2 .pscont{
    width:1106px;
    height:400px;
    margin-left:5%;
    margin-top: 20px;
}
#ps2 .pscont .psleft{
    width:675px;
    height:500px;
    float:left;
    border:1px solid #ccc;
}
#ps2 .pscont .psleft .pslefttop{
    width:650px;
    height: 360px;
    background-color: #9c9c9c;
    margin:10px auto;
}
#ps2 .pscont .psleft .psleftbot{
    width:650px;
    height:112px;
    margin-top: 10px;
    margin-left:10px;
}
#ps2 .pscont .psleft .psleftbot .psleftbotleft{
    width:170px;
    height:110px;
    background-color: #9c9c9c;
    float:left;
    margin-right: 10px;
}
#ps2 .pscont .psleft .psleftbot .psleftbotright{
    width:170px;
    height:110px;
    background-color: #9c9c9c;
    float:left;
}
#ps2 .pscont .psright{
    width:403px;
    height:300px;
    border:1px solid #ccc;
    float:right;
}
#ps2 .pscont .psright h3{
    margin-left:5px;
    height:40px;
    line-height: 40px;
    margin-top: 20px;
}
#ps2 .pscont .psright h3 input{
    width:130px;
    height:30px;
    margin-left:20px;
}
#ps2 button{
    width:100px;
    height:40px;
    line-height: 40px;
    text-align:center;
    background-color: #f4ad59;
    color:white;
    font-size: 14px;
    outline: none;
    border:none;
    border-radius: 4px;
    margin-left:50%;
    margin-top: 40px;
}
/* 录入 */
.lr{
	width:1205px;
	height:1000px;
	overflow:auto;
}
.lr .header{
	width:1150px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight: weight;
	border-bottom: 1px solid #e3e4e4;
}
.lr .header img{
	float: right;
}
.lr .table{
	width:1150px;
	height:62px;
	margin:0 auto;
	margin-left:2.5%;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
}
.lr .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.lr .table p span{
	margin-left: 17px;
	margin-right: 35px;
	color:#7b7b7b;
}
.lr .lrcont{
	width:1150px;
	height:auto;
	margin-left:2.5%;
	margin-top: 20px;
}
.lr .lrcont .lrleft{
	width:705px;
	height:1000px;
	float:left;
}
.lr .lrcont .lrleft .lrtop{
	width:705px;
	height:545px;
	border:1px solid #ccc;
	margin-bottom:20px;
}
.lr .lrcont .lrleft .lrlefttop{
	width:655px;
	height: 360px;
	background-color: #9c9c9c;
	margin:20px auto;
}
.lr .lrcont .lrleft .lrleftbot{
	width:655px;
	height:112px;
	margin-top: 10px;
	margin-left:23px;
}
.lr .lrcont .lrleft .lrleftbot .lrleftbotleft{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
	margin-right: 10px;
} 
.lr .lrcont .lrleft .lrleftbot .lrleftbotright{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
}
.lr .lrcont .lrleft .lrleftbottom{
	width:705px;
	height:auto;
	border:1px solid #ccc;
	color:#747474;
}
.lr .lrcont .lrleft .lrleftbottom h3{
	margin-top:20px;
}
.lr .lrcont .lrleft .lrleftbottom input{
	width:130px;
	height:42px;
	border: 1px solid #e3e4e4;
	margin-left: 18px;
	margin-right:123px;
	border-radius:5px;
	text-align: center;
}
 .lr .lrcont .lrleft .lrleftbottom select{
	width:130px;
	height:42px;
	border: 1px solid #e3e4e4;
	margin-left: 18px;
	border-radius:5px;
	text-align: center;
} 
.lr .lrcont .lrleft .lrleftbottom span{
	line-height:70px;
	margin-left:45px;
}
.lr .lrcont .lrright{
	width:425px;
	height:auto;
	border:1px solid #ccc;
	float:right;
}
.lr .lrcont .lrright table {
	width:420px;
}
.lr .lrcont .lrright input{
	width:100px; 
	height:40px;
	border-radius:5px; 
	border:1px solid #ccc;
	text-align:center;
}
.lr .lrcont .lrright select{
	width:100px;
	height:40px;
	border-radius: 5px;
	border:1px solid #ccc;
	text-align: center;
}
.lr #lrover{
	width:100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background-color: #f4ad59;
	color:white;
	font-size: 14px;
	outline: none;
	border:none;
	border-radius: 4px;
	margin-left:50%;
	margin-top: 20px;
}
.kf  h2{
	font-weight:normal;
	font-size: 18px;
	margin-top: 35px;
} 
.liucheng  h2{
	font-weight:normal;
	font-size: 18px;
	margin-top: 35px;
} 
.zdjc{
	width:1205px;
	height:auto;
	color:#666666;
}
.zdjc .header{
	width:1205px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight: weight;
	border-bottom: 1px solid #e3e4e4;
}
.zdjc .header img{
	float: right;
}
.zdjc .table{
	width:1150px;
	height:62px;
	margin:0 auto;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
}
.zdjc .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.zdjc .table p span{
	margin-left: 17px;
	margin-right: 45px;
	color:#7b7b7b;
}   
.zdjc .zdjccont{
	width:1150px;
	height:400px;
	margin-left:2.5%;
	margin-top: 20px;
}
.zdjctop{
	width:705px;
	height:545px;
	border:1px solid #ccc;
	margin-bottom:25px;
}
.zdjc .zdjccont .zdjcleft{
	width:705px;
	height:1000px;
	float:left;
}
.zdjc .zdjccont .zdjcleft .zdjclefttop{
	width:655px;
	height: 360px;
	background-color: #9c9c9c;
	margin:20px auto;
}
.zdjc .zdjccont .zdjcleft .zdjcleftbot{
	width:655px;
	height:112px;
	margin-top: 10px;
	margin-left:23px;
}
.zdjc .zdjccont .zdjcleft .zdjcleftbot .zdjcleftbotleft{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
	margin-right: 10px;
}
.zdjc .zdjccont .zdjcleft .zdjcleftbot .zdjcleftbotright{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
}
.zdjc .zdjccont .zdjcleft .zdjcleftbottom{
	width:705px;
	height:425px;
	border:1px solid #ccc;
	color:#747474;
}
.zdjc .zdjccont .zdjcleft .zdjcleftbottom input{
	width:130px;
	height:42px;
	border: 1px solid #e3e4e4;
	margin-left: 18px;
	margin-right:123px;
	border-radius:5px;
	text-align: center;
}
.zdjc .zdjccont .zdjcleft .zdjcleftbottom select{
	width:130px;
	height:42px;
	border: 1px solid #e3e4e4;
	margin-left: 18px;
	border-radius:5px;
	text-align: center;
}
.zdjc .zdjccont .zdjcleft .zdjcleftbottom span{
	line-height:70px;
	margin-left:45px;
}
.zdjc .zdjccont .zdjcright{
	width:420px;
	height:auto;
	border:1px solid #ccc;
	float:right;
}
.zdjc .zdjccont .zdjcright table td input{
	width:80px;
	height:40px;
	text-align: center;
	border-radius: 5px;
	border:1px solid #ccc;
}
.zdjc .zdjccont .zdjcright table td span{
	display: inline-block;
	width:19px;
	height:19px;
	margin-left:6px;
	vertical-align: middle;
}
.zdjc .zdjccont .zdjcright table td select{
	width:80px;
	height:40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	border:1px solid #ccc;
}
.zdjc .zdjccont .zdjcright table #yname {
	width:100px;
	height:40px;
	text-align: center;
}
.zdjc button{
	width:100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background-color: #f4ad59;
	color:white;
	font-size: 14px;
	outline: none;
	border:none;
	border-radius: 4px;
	margin-left:10px;
	margin-top: 40px;
}
/* 录入2 */
.lr2{
	width:1205px;
	height:772px;
	
}
.lr2 .header{
	width:1205px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight: weight;
	border-bottom: 1px solid #e3e4e4;
	margin-left:2.3%;
}
.lr2 .header img{
	float: right;
}
.lr2 .table{
	width:1106px;
	height:62px;
	margin:0 auto;
	margin-left: 2.5%;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
}
.lr2 .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.lr2 .table p span{
	margin-left: 17px;
	margin-right: 35px;
	color:#7b7b7b;
}
.lr2 .lr2cont{
	width:1106px;
	height:400px;
	margin-left:5%;
	margin-top: 20px;
}
.lr2 .lr2cont .lr2left{
	width:675px;
	height:500px;
	float:left;
	border:1px solid #ccc;
}
.lr2 .lr2cont .lr2left .lr2lefttop{
	width:650px;
	height: 360px;
	background-color: #9c9c9c;
	margin:10px auto;
}
.lr2 .lr2cont .lr2left .lr2leftbot{
	width:650px;
	height:112px;
	margin-top: 10px;
	margin-left:10px;
}
.lr2 .lr2cont .lr2left .lr2leftbot .lr2leftbotleft{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
	margin-right: 10px;
}
.lr2 .lr2cont .lr2left .lr2leftbot .lr2leftbotright{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
}
.lr2 .lr2cont .lr2right{
	width:403px;
	height:300px;
	border:1px solid #ccc;
	float:right;
}
.lr2 .lr2cont .lr2right h3{
	margin-left:5px;
	height:40px;
	line-height: 40px;
	margin-top: 20px;
}
.lr2 .lr2cont .lr2right h3 input{
	width:130px;
	height:30px;
	margin-left:20px;
}
.lr2 button{
	width:100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background-color: #f4ad59;
	color:white;
	font-size: 14px;
	outline: none;
	border:none;
	border-radius: 4px;
	margin-left:50%;
	margin-top: 40px;
}
.fdt {
	width:1020px;
	height:765px;
	
}
.fd{
	width:45px;
	height:40px;
	background:black;
}
.fd img{
	margin:0 auto;
}
#ps2{
    position:relative;
}
   #bg
        {
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1;
            -moz-opacity: 0.4;
            opacity: .40;
            filter: alpha(opacity=40);
        }
         #psdbg
        {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1;
            -moz-opacity: 0.4;
            opacity: .40;
            filter: alpha(opacity=40);
        }
#psdbg-fc
{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
}
#bbb{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
}
#psdbg-ps2 {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:2;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
}
#psdbg-jz
{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
}
#psdbg-sf
{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    -moz-opacity: 0.4;
    opacity: .40;
    filter: alpha(opacity=40);
}
        #show
        {
            display: none;
            position: absolute;
            top: 177px;
            left: 50%;
            width: 1220px;
            height: auto;
            padding: 8px;
            margin-left: -610px;
            background-color: white;
            z-index: 2;
            
        }
         #psdshow
        {
            display: none;
            position: absolute;
            margin:0 auto;
            top: 300px;
            left: 450px;
            width: 400px;
            height: 200px;
            padding: 8px;
            background-color: white;
            z-index: 1;
            
        }
#psdshow-fc
{
    display: none;
    position: absolute;
    margin:0 auto;
    top: 300px;
    left: 450px;
    width: 400px;
    height: 200px;
    padding: 8px;
    background-color: white;
    z-index: 1;

}
#aaa {
    display: none;
    position: absolute;
    margin:0 auto;
    top: 300px;
    left: 450px;
    width: 400px;
    height: 200px;
    padding: 8px;
    background-color: white;
    z-index:5;

}
#psdshow-ps2
{
    display: none;
    position: absolute;
    margin:0 auto;
    top: 300px;
    left: 450px;
    width: 400px;
    height: 200px;
    padding: 8px;
    background-color: white;
    z-index: 2;

}
#psdshow-jz
{
    display: none;
    position: absolute;
    margin:0 auto;
    top: 300px;
    left: 450px;
    width: 400px;
    height: 200px;
    padding: 8px;
    background-color: white;
    z-index: 1;

}

            #psdshow-sf
            {
                display: none;
                position: absolute;
                margin:0 auto;
                top: 300px;
                left: 450px;
                width: 400px;
                height: 200px;
                padding: 8px;
                background-color: white;
                z-index: 1;

            }
        /* 密码弹出框 */
        .psd{
        	width:400px;
        	height:200px;
        }
        .psdclose{
        	width:400px;
        }
		.psdclose img{
			float:right;
			margin-top:5px;
		}
         .psd p{
        	width:400px;
        	line-height:134px;
        	text-align: center;
        	color:#cacbcb;
        }
        .psd p input{
        	margin-left:25px;
        	width:190px;
        	height:35px;
        	border:1px solid #ccc;
        }
        #psdover{
        		width:100px;
				height:40px;
				line-height: 40px;
				text-align:center;
				background-color: #f4ad59;
				color:white;
				font-size: 14px;
				outline: none;
				border:none;
				border-radius: 4px;
				margin-left:150px;
				margin-top: 20px;
        }
#psdover-sf{
    width:100px;
    height:40px;
    line-height: 40px;
    text-align:center;
    background-color: #f4ad59;
    color:white;
    font-size: 14px;
    outline: none;
    border:none;
    border-radius: 4px;
    margin-left:150px;
    margin-top: 20px;
}
#psdover-ps2{
    width:100px;
    height:40px;
    line-height: 40px;
    text-align:center;
    background-color: #f4ad59;
    color:white;
    font-size: 14px;
    outline: none;
    border:none;
    border-radius: 4px;
    margin-left:150px;
    margin-top: 20px;
}
#ccc{
    width:100px;
    height:40px;
    line-height: 40px;
    text-align:center;
    background-color: #f4ad59;
    color:white;
    font-size: 14px;
    outline: none;
    border:none;
    border-radius: 4px;
    margin-left:150px;
    margin-top: 20px;
}
    /* 复查 */
  .fc{
	width:1205px;
	height:auto;
	
}
.fc .header{
	width:1206px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight: weight;
	border-bottom: 1px solid #e3e4e4;
}
.fc .header img{
	float: right;
}
.fc .table{
	width:1150px;
	height:62px;
	margin:0 auto;
	margin-left:2.5%;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
}
.fc .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.fc .table p span{
	margin-left: 17px;
	margin-right: 35px;
	color:#7b7b7b;
}
.fc .fccont{
	width:1150px;
	height:auto;
	margin-left:2.5%;
	margin-top: 20px;
}
.fc .fccont .fcleft{
	width:705px;
	height:auto;
	float:left;
	border:1px solid #ccc;
	padding-bottom: 20px;
}
.fc .fccont .fcleft .fctop{
	width:705px;
	height:545px;
	border:1px solid #ccc;
	margin-bottom:20px;
}
.fc .fccont .fcleft .fclefttop{
	width:655px;
	height: 360px;
	background-color: #9c9c9c;
	margin:20px auto;
}
.fc .fccont .fcleft .fcleftbot{
	width:655px;
	height:112px;
	margin-top: 10px;
	margin-left:23px;
}
.fc .fccont .fcleft .fcleftbot .fcleftbotleft{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
	margin-right: 10px;
} 
.fc .fccont .fcleft .fcleftbot .fcleftbotright{
	width:170px;
	height:110px;
	background-color: #9c9c9c;
	float:left;
}
.fc .fccont .fcright{
	width:425px;
	height:540px;
	border:1px solid #ccc;
	float:right;
}
.fc .fccont .fcright table {
	width:420px;
	text-align: center;
}
.fc .fccont .fcright table td {
	border-bottom:1px solid #e3e4e4;
}
.fc .fccont .fcright input{
	width:100px; 
	height:40px;
	border-radius:5px; 
	border:1px solid #ccc;
	text-align:center;
}
.fc .fccont .fcright select{
	width:100px;
	height:40px;
	border-radius: 5px;
	border:1px solid #ccc;
	text-align: center;
}
.fc #again{
	width:140px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background-color: #f4ad59;
	color:white;
	font-size: 14px;
	outline: none;
	border:none;
	border-radius: 4px;
	margin-left:4%;
	margin-top: 20px;
	margin-right:20px;
}
.fc #fcover{
	width:100px;
	height:40px;
	line-height: 40px;
	text-align:center;
	background-color: #f4ad59;
	color:white;
	font-size: 14px;
	outline: none;
	border:none;
	border-radius: 4px;
	margin-left:14%;
	margin-top: 20px;
	margin-right:20px;
}
 .bq{
	width:1205px;
	height:auto;
	
}
.bq .header{
	width:1206px;
	height:78px;
	text-align: center;
	line-height: 78px;
	font-size: 24px;
	font-weight: weight;
	border-bottom: 1px solid #e3e4e4;
}
.bq .header img{
	float: right;
}
.bq .table{
	width:1150px;
	height:62px;
	margin:0 auto;
	margin-left:2.5%;
	background-color: #e3e4e4;
	border-radius: 5px;
	margin-top: 21px;
}
.bq .table p{
	font-size: 18px;
	color:#bcbcbc;
	line-height: 62px;
	margin-left: 35px;

}
.bq .table p span{
	margin-left: 17px;
	margin-right: 35px;
	color:#7b7b7b;
}
.bq .bqcont{
	width:1150px;
	height:945px;
}
.bqcont .bqleft{
		width:545px;
		height:945px;
		border:1px solid #e3e4e4;
		float:left;
		margin-left: 2.5%;
		margin-top:27px;
}
.bqcont .bqleft h4{
	font-size: 22px;
	font-weight: normal;
	margin-top:40px;
	margin-bottom: 40px;
	margin-left: 218px;
	
}
.bqcont .bqleft h4 span{
	font-size:17px;
	margin-left:30px;
	
}

.bqcont .bqright{
	width:555px;
	height:945px;
	float:right;
	border:1px solid #e3e4e4;
	margin-left:0px;
	display: inline-block;
	margin-top:25px;
}
.bqcont .bqright h4{
	font-size: 22px;
	font-weight: normal;
	margin-top:40px;
	margin-bottom: 30px;
	margin-left: 218px;
}
.bqcont .bqright h4 span{
	font-size:17px;
	margin-left:30px;
	
}

#zuo,#you{
	width:93px;
	height:50px;
	color:white;
	background: #f4ad59;
	border-radius: 5px;
	margin-top:65px;
	border:none;
}
 .user .content{
	background:#efefef;
	height:auto;

}
.user .content .s-top {
  width: 95%;
  line-height: 83px;
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin:25px auto;
  margin-left: 2%;
}
.user .content .s-top a {
  font-size: 20px;
  color: #5e5e5e;
  margin-right: 130px;
  margin-left:130px;
  text-decoration: none;
}
.user .content .s-top a span {
  font-size: 24px;
  color: #587100;
  padding: 8px;
}

.user .content .search {
	width:95%;
	height:45px;
  margin-top: 20px;
  margin:0 auto;
  position: relative;
}
.user .content .search .yd{
	float:right;
}
.user .content .search b{
	position: absolute;
	left:10px;
	top:10px;
}
.user .content .search #text {
  width:70%;
  height: 45px;
  color: #9e9e9e;
  line-height: 45px;
  font-size: 17px;
  border-radius: 3px;
  border: none;
  padding-left:35px;
  float: left;
  
}
.user .content .search #search {
  width: 120px;
  height: 45px;
  background: #f0962b;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 4px;
  margin-left:20px;
  cursor:pointer;
}
.user .content .footer{
	width:100%;
	height:auto;

}
.user .content .footer .f-top {
  width: 95%;
  height: 70px;
  background: #e6e6e6;
  margin-top:22px;
  margin-left: 2%;
}
.user .content .footer .f-top a {
  margin-left: 40px;
  color: #a8ab9f;
  font-size: 18px;
  line-height: 70px;
  float: left;
  display: block;
  text-decoration: none;
}
.user .content .footer .f-top .all {
  display: inline-block;
  background: #779800;
  line-height: 37px;
  text-align: center;
  color: #fff;
  width: 74px;
  height: 36px;
  border-radius: 4px;
  margin-top: 17px;
  margin-left:20px;
}
.user .content .footer .f-top span {
  font-size: 16px;
  color: #767c62;
  float: right;
  margin-right: 257px;
  margin-top: 19px;
}
.user .content .footer .f-top .f-top-y {
  margin-left: 160px;
  font-size: 17px;
  font-weight:normal;
  line-height: 70px;
}
.user .content .footer .f-top #yg {
  width: 185px;
  height: 35px;
  line-height: 70px;
  margin-top: 17px;
  margin-left:25px;
  margin-right:20px;
  border-radius: 4px;
  border:none;
  display: inline-block;
}
.user .username {
	display:inline-block;
	border-bottom: 1px solid black;
}
.user #xiazai{
	width:63px;
	height:40px;
	background:#f4ad59;
	border-radius: 5px;
	color:white;
	border:none;
	margin-left:8px;
}
.user #print{
	width:63px;
	height:40px;
	background:#f4ad59;
	border-radius: 5px;
	color:white;
	border:none;
	margin-left:8px;
}
.user .content .footer .f-bottom {
  width: 95%;
  height:auto;
  margin-left:2%;
  background: white;
 font-size: 10px;
}
.user .content .footer .f-bottom .f-left {
	width:178px;
	height:600px;
	border:1px solid #ccc;
	float:left;
	color:#ccc;
	
}
.user .content .footer .f-bottom .f-left h3{
	 width:170px;
	height:62px;
	line-height: 62px;
	font-weight: normal;
	font-size:18px;
	cursor:pointer;
	text-align: center;
}

.user .content .footer .f-bottom .f-left h3 span{
	display: inline-block;
	width:auto;
	height:20px;
	background: #e3e4e4;
	border-radius: 30px;
	text-align: center;
	line-height: 20px;
	margin-left:20px;
	color:white;
	padding-left:7px;
	padding-right:7px;
}
.user .content .footer .f-bottom .f-right{
	width:87.5%;
	height:auto;
	float:left;
	border:1px solid #ccc;
}
.user .content .footer .f-bottom .f-right table{
	width:100%;
	height:auto;
	font-size: 16px;
	color:#666666;
}
.user .content .footer .f-bottom .f-right table th{
	width:10%;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #ccc;
 	font-size: 18px;
  	font-weight: normal;
}
.user .content .footer .f-bottom .f-right table td{
	width:auto;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #ccc;
    text-align: center;
}

.user .content .footer .f-bottom .f-right table td  a {
	color:#666666;
}
.user .content .footer .f-bottom .f-right table td:nth-child(6){
  
  width:262px;
}
.user .content .footer .f-bottom .f-right table td span{
  width:64px;
  height:41px;
  display:block;
  border-radius: 3px;
  background-color:#f4ad59;
  line-height: 41px;
  color:white;
  text-align: center;
  cursor:pointer;
}
.user .content .footer .f-bottom .f-right table td span:hover{
	background: #f0962b;
}
.user .content .footer .f-bottom .f-right h1{
	text-align: center;
   font-size:14px;
   color:#747474;
   line-height: 86px;
   display:block;
}
.user .content .footer .f-bottom .f-right h1 a {
	text-decoration: none;
}
.user .content .footer .f-bottom .f-right h1 b{
	margin-left: 10px;
	margin-right:10px;
  font-weight: normal;
  color:#747474;
  font-size:14px;
}
.user .content .footer .f-bottom .f-right h1 b:hover{
	color:red;
	cursor: pointer;
}
.user .content .footer h2{
	 width:95%;
	 margin-left: 2%;
	text-align: center;
	color:#ccc;
	 font-size: 24px;
	 font-weight: normal;
	 height:120px;
	 background: white;
	 line-height: 120px;
}
.user .content .footer h2 i{
	font-style:normal;
	color: #779800;
	margin-left:38px;
}
.install{
	width:100%;
	height:auto;
	margin:0 auto;
}
.install .content{
	width:100%;
	height:700px;
	background:#edf1f2;
	padding-top: 28px;
}
.install .fenlei{
	width:95%;
	height:650px;
	padding-top: 78px;
	background: white;
	margin:0 auto;
}
.install  .fenlei input {
	width:464px;
	height:104px;
	background-color: #f4ad59;
	text-align: center;
	color:white;
	font-size:28px;
	border:none;
	border-radius: 5px;
	margin:0 auto;
	display:block;
	margin-bottom:52px;
}
#jia{
    width:80px;
    height:40px;
    line-height:40px;
    font-size:16px;
    background:#f4ad59;
    text-align:center;
    margin-left:180px;
    border:none;
    color:white;
    border-radius:5px;
    margin-bottom:15px;
}
.medicine_name{
    position:relative;
}
.aa{
   display:none;
    width:90px;
    height:100px;
    border:1px solid #779800;
    position:absolute;
    border-radius: 3px;
    overflow: auto;
    z-index:333;
    background:white;
    color:black;
}
form div{
    overflow:hidden;
    clear:both;
}
form div h3{
    float:left;
    clear:both;
}
form div h3 .text{
    width:152px;
    height:26px;
    padding:0 2px;
    border:1px solid #ccc;
}
form div h3 b{
    font-weight:normal;
    font-size:12px;
    color:#ccc;
    visibility:hidden;
}
form div em{
    display:inline-block;
    font-size:12px;
    text-align:center;
    color:#fff;
    vertical-align:middle;
    font-style:normal;
    width:53px;
    height:15px;
    line-height:15px;
    background:#ffd099;
}
form div .active{background-color:#f60;}
div span{
    display:inline-block;
    width:80px;
    text-align:right;
}
.submitBtn{
    width:135px;
    height:33px;
    background:#f60;
    color:#fff;
    margin:20px 0 0 80px;
}
.changeImg{
    width:22px;
    height:22px;
    display:inline-block;
    vertical-align: middle;

}
.meg{
    line-height:12px;
    color:#999;
    float:left;
    margin-left:5px;
    display:none;
}
.meg i{
    display:inline-block;
    vertical-align: middle;
    width:26px;
    height:27px;
    background:url(images/sprite.jpg) no-repeat;
}
.meg .ati{background-position:0 0; color:blue;}
.meg .err{background-position:0 -58px}
.meg .ok{background-position:0 -31px}



